<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/dashboard.css">
    </head>
    <body>
        <div class="dashboard_nav">
            <h1 style="margin-left:20px;">Anyone Can Cook</h1>
            <div class="dashboard_nav_img">
            </div>
            <form style="margin-right:20px;" action="/index">
                <input class="btn btn-primary" type="submit" value = "Dashboard">
            </form>
            <form style="margin-right:20px;" action="/log_out">
                <input class="btn btn-warning" type="submit" value = "log out">
            </form>
        </div>
        <div class="lesson_nav">
            <div class="lesson_links">
                <h3>Sauce Lessons</h3>
                <a href="/saucey/veloute">Veloute</a>
                <a href="/saucey/pansauce">Pan butter sauce</a>
                <a href="/saucey/tomotoe">Tomatoe</a>
                <a href="/saucey/balsamic">Balsamic reduction</a>
                <a href="/saucey/hollandaise">Hollandaise</a>
            </div>
            <div class="lesson_nav_img">
                <img src="../static/img/sauce1.jpg">
                <img src="../static/img/sauce2.jpg">
                <img src="../static/img/sauce3.jpg">
                <img src="../static/img/sauce4.jpg">
                <img src="../static/img/sauce5.jpg">
            </div>
        </div>
    <div class="main_container">
            <div class="recipe">
                <h2>Balsamic Reduction</h2>
                    <p> But if you’d like to make a sweeter balsamic glaze, you can definitely add 1-2 tablespoons of honey or maple syrup to the pot with the balsamic vinegar. Then reduce it as mentioned above. It’s up to you if you’d like to add a sweetener. Though I’d recommend trying it without the sweetener at least on your first try. Enjoy!</p>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CsQ_J-dYv0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p>BALSAMIC REDUCTION (BALSAMIC GLAZE)</p>

                    <p>COOK TIME: 15 minsTOTAL TIME: 15 mins</p>

                    <p>SERVINGS: 8 servings</p>
                    
                    <p>Homemade balsamic reduction (balsamic glaze) is easy and cost effective. All you need is balsamic vinegar and 15 minutes. Watch the recipe video above to see how thick my sauce gets.</p>
                    <p>INGREDIENTS</p>
                    <p>1 cup balsamic vinegar</p>
                    <p>Optional 1-2 tbsp honey or maple syrup</p>

                    <p>INSTRUCTIONS </p>
                    <p>Add the balsamic vinegar and any sweetener to a small pot. </p>
                    <p>Bring it to a boil, then reduce the heat and simmer for 10-15 minutes or until the sauce coats the back of a spoon.</p>
                    <p>Use immediately or store in a sealed container in the fridge.</p>
                    <p>TIPS</p>
                    <p>Remember that the sauce will continue to thicken as it cools. If you accidentally over cook it and it starts to harden, you can just reheat with a little bit of water to thin it back down.</p>
                    <p>The balsamic reduction or glaze will store for several weeks in the refrigerator in a sealed container.</p>   

                    <form action="/upload/{{18}}" method="post" enctype="multipart/form-data">
                    <input style="border: 1px solid black;" type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
                    <input type="submit" value="Upload Image" name="submit">
                </form>       
            </div>
    </div>
            
    </body>
</html> 