<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/dashboard.css">
    </head>
    <body>
        <div class="dashboard_nav">
            <h1 style="margin-left:20px;">Anyone Can Cook</h1>
            <div class="dashboard_nav_img">
            </div>
            <form style="margin-right:20px;" action="/index">
                <input class="btn btn-primary" type="submit" value = "Dashboard">
            </form>
            <form style="margin-right:20px;" action="/log_out">
                <input class="btn btn-warning" type="submit" value = "log out">
            </form>
        </div>
    <div class="main_container">
        <div class="lesson_nav">
            <div class="lesson_links">
                <h3>Sauce Lessons</h3>
                <a href="/saucey/veloute">Veloute</a>
                <a href="/saucey/pansauce">Pan butter sauce</a>
                <a href="/saucey/tomotoe">Tomatoe</a>
                <a href="/saucey/balsamic">Balsamic reduction</a>
                <a href="/saucey/hollandaise">Hollandaise</a>
            </div>
            <div class="lesson_nav_img">
                <img src="../static/img/sauce1.jpg">
                <img src="../static/img/sauce2.jpg">
                <img src="../static/img/sauce3.jpg">
                <img src="../static/img/sauce4.jpg">
                <img src="../static/img/sauce5.jpg">
            </div>
        </div>
    
            <div class="egg_overview">
                <div>
                    
                <h2>THE 8 ESSENTIAL SAUCES</h2>

                <p style="font-style: italic;">"Sauces are the most usefull technique to bring any flavors together, make almost anydish a star with a well made sauce. We are only going to learn 5 most necessary that will complement any dish"</p>

                <p>Sauces are liquids, creams, or semi-solid foods that add flavor and moisture to food. They also used to make food look more appealing. Sauces come in a variety of colors and are either cold or hot. There are over 50 different kinds of sauces used in cooking. However, the culinary arts refers to certain sauces as “mother sauces.” These mother sauces can be served as they are, or they can be used as a starting point for secondary sauces.</p>

                <p>French cuisine often uses mother sauces. Any cook who wants to enhance their cooking skills and improve the flavor of their food should master these 8 sauces.</p>

                <h2>1. Béchamel</h2>
                <p>lso known as white sauce, béchamel consists of milk thickened with equal parts of flour and butter. This butter and flour combination is known as a roux. French historians believe that Marquis Louis de Béchamel, the chief Steward of King Louis XIV’s household, invented béchamel. He supposedly came up with this white sauce when trying to improve the taste of dried cod. Besides fish, béchamel sauce is used in macaroni cheese, vegetable bakes, and chicken pot pie.</p>

                <h2>2. Pan butter suace</h2>
                <p>A pan sauce—made with just a handful of ingredients and in a matter of minutes—can look and taste nearly as rich as a classic, labor-intensive French sauce. The base of a pan sauce is the fond, or browned bits, clinging to the bottom of the skillet after sautéing or searing meat, poultry, or fish. Once the food is removed from the skillet, aromatics such as minced shallots can be sautéed; then, in a process called deglazing, liquid—usually wine, homemade stock (or canned broth), or broth—is added and the fond is scraped up. The liquid is simmered and reduced to concentrate flavors, in a final step, the reduction is enriched and slightly thickened by whisking in butter.</p>

                <h2>3. Velouté</h2>
                <p>Known as a dairy-free version of béchamel, velouté is a French word meaning velvet. Velouté is a light stock that comes from the unroasted bones of chicken, fish, or veal. The thin sauce gets thickened with a roux. Commonly served on poultry or seafood dishes, velouté is also a favorite sauce for Swedish meatballs.</p>

                <h2>4. Espagnole</h2>
                <p>Also known as brown sauce, Espagnole is made from a brown stock. Brown roux, mirepoix, and tomato puree are often added to this rich, full-bodied sauce. Because of its strong taste, Espagnole is rarely used directly on food. Instead, this mother sauce is used to make a variety of other sauces including lyonnaise sauce, mushroom sauce, and bercy sauce.</p>

                <h2>5. Demi-Glace</h2>
                <p>While demi-glace sauce is derived from Espagnole, it is still considered a mother sauce. The sauce is a combination of Espagnole and either beef or chicken stock. This sauce goes especially well with roasted meats and can be added to soups, stews, and stir-fry to boost the flavor.</p>

                <h2>6. Tomato</h2>
                <p>When made as a mother sauce, tomato sauce is nothing like you would expect. While there are tomatoes in it, the primary ingredients are salt pork and roux. Other ingredients include carrots, celery, garlic, and veal or chicken stock. The key to making this sauce is to simmer it until it thickens. Tomato sauce tastes delicious on pasta and breaded chicken.</p>

                <h2>7. Hollandaise</h2>
                <p>Made with egg yolks and clarified butter, hollandaise sauce is often used as a topping. Hollandaise is a French word that means, “Dutch style,” which reflects the importance of butter in Dutch cooking. Most popular on eggs benedict, hollandaise is also used on salmon, chicken breasts, broccoli, and asparagus.</p>

                <h2>8. Balsamic reduction</h2>
                <p> Classic balsamic vinegar comes from the Modena and Reggio Emilia areas in Italy. If you look at all of the different types available in your store, you will see the area each vinegar was made in marked on the labels. To make a glaze, you only need that one ingredient: balsamic vinegar. Many recipes call for an added sweetener of some sort — usually sugar or honey. Cooking it down with those additions helps it cook faster while adding a hint of flavour to the glaze.</p>

                </div>
                
            </div>
    </div>
            
    </body>
    <script src="../static/JS/index.js"></script>
</html> 