<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/dashboard.css">
    </head>
    <body>
        <div class="dashboard_nav">
            <h1 style="margin-left:20px;">Anyone Can Cook</h1>
            <div class="dashboard_nav_img">
            </div>
            <form style="margin-right:20px;" action="/index">
                <input class="btn btn-primary" type="submit" value = "Dashboard">
            </form>
            <form style="margin-right:20px;" action="/log_out">
                <input class="btn btn-warning" type="submit" value = "log out">
            </form>
        </div>
    <div class="main_container">
        <div class="lesson_nav">
            <div class="lesson_links">
                <h3>Starch Lessons</h3>
                <a href="/starch/potatoe">Potatoes</a>
                <a href="/starch/rice">Rice</a>
                <a href="/starch/pasta">Pasta</a>
            </div>
            <div class="lesson_nav_img">
                <img src="../static/img/potatoe.jpg">
                <img src="../static/img/rice.jpg">
                <img src="../static/img/pasta.jpg">
            </div>
        </div>
    
            <div class="egg_overview">
                <div>
                    <h2>Potatoes</h2>
                    <p>It seems like potatoes manifest themselves in almost every culture in some way, shape, or form. Of course, the largest contributor to this undeniable popularity is the simplicity in which potatoes can be cultivated and readily available, but in a day and age where grocery shelves are filled to the brim with a plethora of satiating choices, why is it that potatoes are still amongst the most popular items to buy? Simply put, it’s because they are DELICIOUS. An extended explanation would point out that they can be grown in almost any climate, whether it be arid or tropical; they provide more nutritious sustenance faster and on less land than any other crop in the world, and they can be utilized to make just about any type of dish: cold, hot, fried, baked, sliced, dished, even alcoholic!</p>
                </div>
                <div>
                <h2>Rice</h2>
                <p> Rice is absolutely !@#$ing delicious. Why is that? Well, there’s so many reasons. I’m probably not even gonna cover half of it. God, there’s just SO many different ways to eat it…., But is it really that? I think it’s definitely more than just that. There’s a primal aspect to it, just knowing - Like, there’s a wonderful satisfaction of opening the lid to freshly finished rice… after having been smelling it cooking for the last 20 minutes. The smell of mealtime. Wonderful. *smack* It’s time for FOOD! You ever look at the perfectly cooked rice, and just cry a little bit because it’s so beautiful? Basking in its warm aura, just steaming, glistening pile of delicious starch. So innocent. Rice is just the perfect blank canvas to everything that goes with it, and honestly, Pure and perfect white rice get corrupted by its table companions, and become colorfully patched with flavors as you delve your spoon deeper and deeper into the bowl.</p>
                </div>
                <div>
                <h2>Pasta</h2>
                <p>Global sales figures reflect the world's love affair with pasta - they have risen from US$13bn (£8bn) in 2003 to US$16bn (£10bn) in 2010. Despite rising wheat costs. So how did pasta become so popular? It's because it is cheap, versatile and convenient, says Jim Winship, from the UK-based Pizza, Pasta and Italian Food Association. A sauce to go with it can be made from simple ingredients. "You can create lots of different dishes with it. It tastes good and it's filling. It also has a long shelf life, so you can keep it in the larder until you need to put a meal together."</p>
                </div>
            </div>
    </div>
            
    </body>
    <script src="../static/JS/index.js"></script>
</html> 