<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
     <div class="header">
        <h1>You Suck At Cooking</h1>
        <p>Do yourself a favor and learn how to cook</p>
        <p style="font-style: italic;">"Don't be the person that can't cook"</p>
        <form action="/index">
            <input style="width: 150px;" class="btn btn-primary" style="width: 130px;" type="submit" name="create" value="click here to learn">
        </form>
    </div>
    <div class="title_container">
        <div class="video_container">
            <div>
                <video loop autoplay muted width="100%" >
                    <source src="http://house-cloudfront.us-east-1.prod.boltdns.net/media/v1/pmp4/static/clear/4137224153001/6426ad7a-0042-4230-b880-a7285460a0af/main.mp4?" type="video/mp4">
                </video>
                <img width="100%" src="../static/img/CulinarySkillsResearch.png">
            </div>
        </div>
        
    <div class="title_content">
            <h1>These are the most common cooking fails in the US</h1>
            <p>From leaving the oven on overnight to forgetting a crucial ingredient in a meal or using salt instead of sugar, more than six in 10 Americans have experienced a cooking catastrophe.</p>

<p>A new survey of 2,000 people who cook found that 64% have had a major mishap in the kitchen.</p>

<p>Almost a third (29%) even say they feel hopeless when it comes to cooking.</p>

<p>Conducted by OnePoll and commissioned by SeaPak, the survey looked at the cooking catastrophes Americans have experienced in the kitchen, as well as the ways in which they’re trying to improve their skills.</p>

<p>The most common blunder was found to be burning food while cooking it (68%), followed by burning a pot or a pan (54%) or misjudging and overboiling a pot (52%).</p>

<p>Other mishaps included setting off the smoke detector (48%) or using too much salt in a recipe (44%).</p>

<p>Three in 10 people who cook say they’re embarrassed by their cooking skills – of those who are, 36% avoid cooking for other people.</p>

<p>And mom might be who respondents most commonly avoid cooking for, as the survey found that she’s the most likely to criticize someone’s cooking skills.</p>

<p>Forty-two percent of respondents have been judged on their abilities in the kitchen. After mom, the judgment was most likely to come from friends (45%) or a significant other (41%).</p>

<p>Top difficulties in the kitchen were found to be having various dishes be ready at the same time (44%) and hosting a three-course dinner party (38%).</p>

<p>That was followed by making a sauce from scratch (38%), cooking perfect poached eggs (35%) and cooking fish to the perfect consistency (34%).</p>

<p>But even cooking catastrophes and critique from loved ones isn’t stopping Americans from trying to improve: Sixty-three percent are actively working to be more confident in the kitchen.</p>

<p>Top ways respondents are improving their cooking confidence are cooking more often (70%), watching tutorials online (61%) and using cookbooks to find new recipes (61%).</p>

<p>Others are watching cooking shows (59%) or even taking cooking classes (36%).</p>

<p>Most commonly experienced cooking catastrophes</p>

<ol>
    <li>Burned food 67 percent</li>
    <li>Burned a pot/pan 54 percent</li>
    <li>Over boiled a pot 52 percent</li>
    <li>Set off the smoke detector 48 percent</li>
    <li>Used too much salt 44 percent</li>
    <li>Left the oven/burner on 40 percent</li>
    <li>Forgot a crucial ingredient 38 percent</li>
    <li>Forgotten something in the oven 35 percent</li>
    <li>Food was way too spicy 34 percent</li>
    <li>Had a dog or pet eat food that was left out 23 percent</li>
    <li>Had an explosion in the microwave 21 percent</li>
    <li>Used salt instead of sugar 20 percent</li>
    <li>Microwaved something metal 20 percent</li>
    <li>Used the wrong equipment (such as cooking pasta in a teapot) 18 percent</li>
<li>Used sugar instead of salt 17 percent</li>
</ol>

<p>Ways Americans are becoming more confident in the kitchen</p>

<ol>
    <li>Cooking more often 70 percent</li>
    <li>Watching tutorials online 61 percent</li>
    <li>Using cookbooks to find new recipes 61 percent</li>
    <li>Cooking shows 59 percent</li>
    <li>Taking cooking classes 36 percent</li>
</ol>

<p>Difficulties in the kitchen</p>

<ol>
    <li>Having various dishes be ready at the same time 44 percent</li>
    <li>Hosting a three-course dinner party 38 percent</li>
    <li>Making a sauce from scratch 38 percent</li>
    <li>Cooking perfect poached eggs 35 percent</li>
    <li>Cooking fish to the perfect consistency 34 percent</li>
</ol>
    </div>
    </div>
        <div class="bottom_nav">
            <img src="../static/img/download.jpg">
            <img src="../static/img/cooking-fail.gif">
            <img src="../static/img/iStock-932070526-1.jpg">
        </div>
    </body>
    <script src="../static/JS/index.js"></script>
</html>