<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/dashboard.css">
    </head>
    <body>
        <div class="dashboard_nav">
            <h1 style="margin-left:20px;">Anyone Can Cook</h1>
            <div class="dashboard_nav_img">
            </div>
            <form style="margin-right:20px;" action="/index">
                <input class="btn btn-primary" type="submit" value = "Dashboard">
            </form>
            <form style="margin-right:20px;" action="/log_out">
                <input class="btn btn-warning" type="submit" value = "log out">
            </form>
        </div>
        <div class="main_container">
        <div class="lesson_nav">
            <div class="lesson_links">
                <h3>Vegetable Lessons</h3>
                <a href="/vegetable/saute">Sauteed Veggies</a>
                <a href="/vegetable/boil">Boiled Veggies</a>
            </div>
            <div class="lesson_nav_img">
                <img src="../static/img/suateveggie.jpg">
                <img src="../static/img/plateveggie.jpg">
                <img src="../static/img/boiledveggie.jpg">
            </div>
        </div>
    
            <div class="egg_overview">
                <div>
                    <h2>Sauteed veggies</h2>
                    <p>What do you consider the vital components of a meal? For many, it’s a protein-rich main dish paired with a vegetable as a complementary side dish. And why wouldn’t you love that pairing? Quick and hearty, it’s the ideal weeknight meal and part of any healthy diet. </p>
                </div>
                <div>
                    <h2>Boiled veggies</h2>
                    <p>Want to steam veggies? We’re here to help. Steaming one of the quickest vegetable cooking methods there is. It also has a bad rap. Often this method results in overcooked, bland, and soggy veggies. But guess what? Turns out that if you cook until crisp tender and season correctly: the veggies are delicious every time! Here’s our master method for how to steam vegetables: the right way. If you have a specific veggie in mind, go to one of these recipes:</p>
                </div>
            </div>
    </div>
            
    </body>
    <script src="../static/JS/index.js"></script>
</html> 