* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.dashboard_nav {
    display: flex;
    position: sticky;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
}

.dashboard_nav img {
    height: 150px;
}

.dashboard_nav_img {
    font-size: 0;
    width: 820px;
    height: 150px;
    background-image: url(img/chef.jpg), url(img/spread.jpg), url(img/meal.jpg), url(img/giphy.gif);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left, 200px, 460px, 560px;
    background-size: contain;
}

.container1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 img {

    height: 100px;
    width: 100px;
}

.row1,
.row2 {
    display: flex;
}

.row1 div,
.row2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(188, 233, 241);
    margin: 5px;
}

.lesson_nav {
    position: absolute;
    display: inline-block;
    height: 1000px;
    width: 250px;
    background-color: aquamarine;
    left: 0;
    top: 0;
}

.lesson_links {
    display: flex;
    flex-direction: column;
    text-align: center;;
}

.lesson_links h3{
    text-decoration: underline;
}

.lesson_links a {
    margin: 10px 10px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(134, 114, 1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

.lesson_links a:hover {
    background-color: rgb(84, 148, 185);
    color: white;
}

.lesson_nav_img {
    display: flex;
    flex-direction: column;
}

.scrambledegg_recipe {
    padding: 50px;
}

.lesson_nav_img img {
    width: 250px;
}

.dashboard_container {
    position: absolute;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    left: 0%;
    right: 0;
    text-align: center;
}

.main_container {
    position: absolute;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.upload_image_container{
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


#myFood{
    background-color: rgb(196, 196, 196);
    border-radius: 5%;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s,
    -webkit-box-shadow .25s;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.34),
    0 3px 1px -2px rgba(0, 0, 0, 0.32),
    0 1px 5px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease;
    transform: scale(1);
}

#myFood:hover{
    border-radius: 5%;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s,
    -webkit-box-shadow .25s;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s,
    -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.34),
    0 9px 7px -8px rgba(0, 0, 0, 0.32),
    0 7px 11px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.34),
    0 9px 7px -8px rgba(0, 0, 0, 0.32),
    0 7px 11px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    /* transition: transform 0.25s ease;
    transform: scale(2); */
    cursor: zoom-in;
}



.egg_overview {
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    min-width: 250px;
    margin-left: 250px;
}

.egg_overview div {
    margin: 30px 0px;
}

.recipe {
    width: 100%;
}

