* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-image: url(img/funny-kitchen-cooking-fails-18-5890604edf240__605.jpg), url(img/foodAllergies-876940470-770x553-300x200.jpg);
    height: 200px;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    z-index: 10;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main_container {
    margin-left: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    width: 700px;
}

.title_container {
    display: flex;
    align-items: left;
    position: relative;
    margin-top: 200px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.container input {
    margin: 10px;
}

.container2 form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.container2 input {
    margin: 10px;
}

.title_content {
    padding: 100px;
}

.bottom_nav {
    display: flex;
    background-color: aquamarine;
    height: 200px;
    align-items: center;
    justify-content: center;
    wi
}

.bottom_nav img {
    height: 200px;
}

.side_nav {
    background-color: aquamarine;
    width: 275px;
    text-align: center;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 200px;
}

.side_nav img {
    width: 275;
}