* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-image: url(img/funny-kitchen-cooking-fails-18-5890604edf240__605.jpg), url(img/foodAllergies-876940470-770x553-300x200.jpg);
    height: 200px;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    z-index: 10;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main_container {
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content:center;
    align-items:flex-start;
    padding-left: 20%;
}

.title_container {
    display: flex;
    align-items: left;
    position: relative;
    margin-top: 200px;
    width: 100%;
}

.video_container{
    width: 50%;
    content: contain;
}

#container{
    width: 30%;
    margin: 2%;
}

#container form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#container input {
    margin: 10px;
}

.container2{
    margin: 2%;
}

.container2 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.container2 input {
    margin: 10px;
}

.title_content {
    padding: 50px;
}

.bottom_nav {
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.bottom_nav img {
    height: 200px;
}

.side_nav {
    background-color: aquamarine;
    width: 25%;
    text-align: center;
    overflow-y: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed
}

.side_nav img {
    width: 275;
}